# Supabase Configuration for FREONIX (Free Plan)
# Dapatkan nilai ini dari Supabase Dashboard -> Project Settings -> API
VITE_SUPABASE_URL=https://wvsyzexwmhyckbemuced.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XGpc9OI6OuD9hdRHAy_YnQ_1De0T12W

